:host {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.logo {
  height: 100%;
  min-width: 10rem;
  background-image: url(../../assets/LOGO_VARIANT_WHITE-FADED.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.sidenav-container {
  flex: 1;
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.footer {
  height: 2rem;

  .right {
    a {
      font-size: 0.85rem;
      font-weight: initial;

      &:not(:last-of-type) {
        margin-right: 1em;
      }
    }
  }
}
