$black: black;
$white: white;

$blautanne: #005a5a;
$seegruen: #3b8b8e;
$moos: #3da936;
$kies: #61bdae;
$waldgruen: #94c028;
$nebel: #a0bbbc;
$koralle: #e95b9b;
$lachs: #ec6c6e;
$kirschbluete: #f19cc2;
